.dashboard-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 240px repeat(auto-fit, minmax(92px, 100%));
    grid-template-areas: "sidebar header header"
        "sidebar content content";
    background-color: var(--default-background);
}

/* Header */
.dashboard-container .dashboard-header {
    grid-area: header;
    height: 56px;
    background-color: var(--gray);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 32px;
    width: 100%;
    position: fixed;
    user-select: none;
    z-index: 1000;
}

.dashboard-header .header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    position: fixed;
    right: 32px;
}

.dashboard-header .header-buttons > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dashboard-header .header-buttons .logout svg {
    font-size: 24px;
    color: var(--red);
    transition: 0.1s;
}

.dashboard-header .header-buttons .logout svg:hover {
    color: var(--red-hover);
}

/* SideNavbar */
.dashboard-container .dashboard-left-bar {
    grid-area: sidebar;
    width: 240px;
    height: 100%;
    background-color: var(--gray);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    user-select: none;
    z-index: 9999;
    position: fixed;
    overflow: hidden;
}

.dashboard-container .dashboard-left-bar .dashboard-header-title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 16px 0;
    padding: 0 24px;
    cursor: pointer;
}

.dashboard-container .dashboard-left-bar .dashboard-header-title h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--purple);
}

.dashboard-container .dashboard-left-bar .dashboard-header-title svg {
    font-size: 24px;
    color: var(--purple);
}

.dashboard-container .dashboard-left-bar .dashboard-left-bar-item-section {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 16px;
}

.dashboard-container .dashboard-left-bar .dashboard-left-bar-item-section h2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 8px 0;
    color: var(--lighter-text);
    opacity: 0.5;
}

.dashboard-container .dashboard-left-bar button.dashboard-left-bar-item {
    background-color: var(--lighter-gray);
    color: var(--lighter-text);
    width: 80%;
    height: 40px;
    padding: 8px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.1s;
}

.dashboard-container .dashboard-left-bar .dashboard-left-bar-item:nth-child(3) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.dashboard-container .dashboard-left-bar .dashboard-left-bar-item:last-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.dashboard-container .dashboard-left-bar .dashboard-left-bar-item:hover {
    background-color: var(--lighter-gray-hover);
}

.dashboard-container .dashboard-left-bar .dashboard-left-bar-item p {
    font-size: 15px;
    font-weight: 600;
}

.dashboard-container .dashboard-left-bar .dashboard-left-bar-item svg {
    font-size: 22px;
    margin-right: 8px;
}

.dashboard-container .dashboard-left-bar .dashboard-left-bar-item.active {
    background-color: var(--purple);
    color: var(--default-text);
    cursor: grab;
}

.dashboard-content {
    grid-area: content;
    height: auto;
    background-color: var(--default-background);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 56px);
    margin-top: 56px;
}