.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 0.1s ease-in-out;
}


.profile-container .profile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 56px;
    background-image: linear-gradient(to bottom, rgba(74, 106, 188, 1), rgba(49, 58, 124, 0.6));
    padding-bottom: 192px;
}

.profile-container .profile .profile-picture {
    width: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.profile-container .profile .profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 92px 4px;
}

.profile-container .profile .profile-info .profile-name {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.profile-container .profile .profile-info .profile-name p {
    font-size: 2rem;
    font-weight: bold;
    color: var(--default-text);
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), 0 0 0.8em rgba(0, 0, 0, 1), 0 0 0.2em rgba(0, 0, 0, 0);
}

:root[data-theme="light"] .profile-container .profile .profile-info .profile-name p {
    color: var(--default-background);
}

.profile-container .profile .profile-info .profile-name span {
    font-size: 1.3rem;
    color: var(--lighter-text);
    letter-spacing: 2px;
    opacity: 0.5;
    margin-left: 8px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 0.8em rgba(0, 0, 0, 0.7), 0 0 0.2em rgba(0, 0, 0, 0);
}

:root[data-theme="light"] .profile-container .profile .profile-info .profile-name span {
    color: var(--default-background);
}

.profile-container .profile .profile-info .profile-email {
    margin-bottom: 16px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--lighter-text);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), 0 0 1.5em rgba(0, 0, 0, 0.8), 0 0 0.2em rgba(0, 0, 0, 0);
}

:root[data-theme="light"] .profile-container .profile .profile-info .profile-email {
    opacity: 0.7;
    color: var(--default-background);
}


.profile-container .profile-bio {
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--gray);
    opacity: 0.9;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 32px 4px;
    transition: 0.1s ease-in-out;
    cursor: grab;
    user-select: none;
}

.profile-container .profile-bio:hover {
    opacity: 1;
}


.profile-container .profile .profile-info .profile-bio > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.profile-container .profile .profile-info .profile-bio svg {
    font-size: 20px;
    fill: var(--lighter-text);
}

.profile-container .profile .profile-info .profile-bio .profile-permission-level {
    font-size: 1rem;
    font-weight: 400;
    color: var(--green-hover);
    margin-bottom: 4px;
}

.profile-container .profile .profile-info .profile-bio .profile-permission-level .darker {
    color: var(--green);
}

.profile-container .profile .profile-info .profile-bio .created-at {
    font-size: 1rem;
    font-weight: 400;
    color: var(--blue-hover);
}

.profile-container .profile .profile-info .profile-bio .created-at .darker {
    color: var(--blue);
}

.profile-container .user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 400px;
    background-color: var(--gray);
}

.profile-container .profile-bottom {
    width: 100%;
    height: auto;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -192px;
    background-color: var(--half-default-background);
}

.box-wrapper {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 32px;
    padding: 32px;
    flex-wrap: wrap;
}

.box-wrapper .settings-wrapper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    flex: 1 1;
}

.box-wrapper .box {
    min-width: 392px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 56px;
    background-color: var(--gray);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 24px 4px;
    transition: 0.1s ease-in-out;
}

.box-wrapper .box .box-header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.box-wrapper .box#save,
.box-wrapper .box#password {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.box-wrapper .box h2 {
    font-size: 1.7rem;
    width: 100%;
    padding-bottom: 4px;
    color: var(--default-text);
    border-bottom: 1px solid var(--divider-gray);
    font-weight: 300;
    margin-top: 32px;
}

.box-wrapper .box h2:first-child {
    margin-top: 0;
}

.box-wrapper .box h2.red {
    color: var(--red);
    font-weight: 500;
    border-bottom: none;
}

.box-wrapper .box h3 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--default-text);
    margin: 16px 0 8px 0;
}

.profile-bottom .box-wrapper .box .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.box-wrapper .box .user-info .data-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    height: 52px;
    border-radius: 6px;
    background-color: var(--default-background);
}

.box-wrapper .box .user-info .vertical-divider {
    width: 1px;
    height: 100%;
    background-color: var(--divider-gray);
    opacity: 0.7;
}

.box-wrapper .box .user-info input {
    display: flex;
    width: auto;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.1s ease-in-out;
    font-size: 1rem;
    color: var(--default-text);
    padding: 0 24px;
    min-width: 0 !important;
}
.box-wrapper .box .user-info textarea {
    display: flex;
    width: 40vw;
    height: 20vh;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.1s ease-in-out;
    font-size: 1rem;
    color: var(--default-text);
    padding: 12px 24px;
    resize: none;
}

.box-wrapper .box .user-info input:-webkit-autofill,
.box-wrapper .box .user-info input:-webkit-autofill:hover,
.box-wrapper .box .user-info input:-webkit-autofill:focus,
.box-wrapper .box .user-info input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--default-background) inset !important;
    -webkit-text-fill-color: var(--default-text) !important;
}

.box-wrapper .box .user-info .tag {
    font-size: 34px;
    color: var(--lighter-text);
    opacity: 0.6;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container .profile-bottom .box-wrapper .box .user-info .email,
.profile-container .profile-bottom .box-wrapper .box .user-info .roles,
.profile-container .profile-bottom .box-wrapper .box .user-info .password {
    font-size: 24px;
    color: var(--lighter-text);
    opacity: 0.6;
    margin: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container .profile-bottom .box-wrapper .box .user-info input.user-name-settings {
    display: flex;
    width: 100%;
    min-width: 72px;
}

.profile-container .profile-bottom .box-wrapper .box .user-info input.user-tag-settings {
    display: flex;
    width: auto;
    min-width: 6px;
    padding-left: 16px;
}

.profile-container .profile-bottom .box-wrapper .box .user-info input.user-email-settings {
    display: flex;
    width: 100%;
}

.roles-multi-select {
    border: none;
}

.error {
    color: var(--red) !important;
}

.profile-container .profile-bottom .box-wrapper .box .user-info input.user-password-settings {
    display: flex;
    width: 100%;
}

.settings-submit-button {
    width: fit-content;
    padding: 10px 32px;
    border-radius: 6px;
    background-color: var(--lighter-gray);
    color: var(--default-text);
    outline: none;
    border: 1px solid var(--border-gray);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    margin-top: 24px;
}

.settings-submit-button:hover {
    border-color: var(--purple);
}

.settings-submit-button.green {
    background-color: var(--green);
    border-color: var(--green) !important;
    color: var(--default-text);
}

.settings-submit-button.green:hover {
    background-color: var(--green-hover);
}

.settings-submit-button.blue {
    background-color: var(--blue);
    border-color: var(--blue) !important;
    color: var(--default-text);
}

.settings-submit-button.blue:hover {
    background-color: var(--blue-hover);
}

.settings-submit-button.red {
    background-color: var(--red);
    border-color: var(--red) !important;
    color: var(--default-text);
}

.settings-submit-button.red:hover {
    background-color: var(--red-hover);
}


.settings-submit-button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}


/* PROFILE CHANGE AVATAR */
.box .user-info .avatar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 16px 0;
    gap: 32px;
    width: 100%;
    height: 100%;
}

.box .user-info .avatar-wrapper .avatar-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}


.box .user-info .avatar-wrapper .avatar-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.box .user-info .avatar-wrapper .avatar-upload input[type=file] {
    display: none;
}

.box .user-info .avatar-wrapper .avatar-upload .avatar-upload-button,
.box .user-info .avatar-wrapper .avatar-preview .avatar-preview-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    width: 172px;
    height: 172px;
    background-color: var(--default-background);
    color: var(--lighter-text);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    border-radius: 12px;
    gap: 12px;
}

.box .user-info .avatar-wrapper .avatar-preview img {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    object-fit: cover;
}

.box .user-info .avatar-wrapper .avatar-preview .avatar-preview-image {
    cursor: default;
}

.box .user-info .avatar-wrapper .avatar-upload .avatar-upload-button p {
    opacity: 0.7;
    transition: 0.1s ease-in-out;
}

.box .user-info .avatar-wrapper .avatar-upload .avatar-upload-button:hover p {
    opacity: 1;
}

.box .user-info .avatar-wrapper .avatar-upload .avatar-upload-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background-color: var(--blue);
    color: var(--lighter-text);
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.1s ease-in-out;
}

.box .user-info .avatar-wrapper .avatar-upload .avatar-upload-button:hover .avatar-upload-icon {
    opacity: 1;
}

.box .user-info .avatar-wrapper .avatar-upload .avatar-upload-icon svg {
    font-size: 32px;
    color: var(--default-text);
}

.submit-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    width: 100%;
}

#avatar p.description {
    font-size: 1rem;
    opacity: 0.7;
    font-weight: 400;
    width: 100%;
    margin: 8px 0;
}

#avatar .settings-submit-button {
    margin-top: 8px;
}

/* DELETE ACCOUNT */
#delete-account input {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .profile-container .profile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 292px;
    }

    .profile-container .profile .profile-picture {
        width: auto;
        height: auto;
        margin-top: 124px;
    }

    .box .user-info .avatar-wrapper {
        flex-direction: row;
    }

}